<h1>Shopping List</h1>
<!-- {{itemList|json}} -->
<button (click)="onSearch(itemList)">Search</button>

<div class="label label-primary shoppingListItem" *ngFor="#item of itemList">
	{{item.name}}
	<span class="glyphicon glyphicon-remove closeBtn" (click)="removeShoppingListItem(item)"></span>
</div>
<hr>
<form>
<div class="btn-group" dropdown [isOpen]="listItem.length > 0" keyboardNav="true">
	<input #input type="text" [ngFormControl]="term" [(ngModel)]="listItem" (keyup.enter)="addShoppingListItem(listItem);input.focus()"/>
	<button (click)="addShoppingListItem(listItem);input.focus()">Add Item</button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
      	<li role="menuitem" *ngFor="#item of items | async">
      		<a (click)="addShoppingListItem(item);input.focus()" class="dropdown-item" href="#">{{item}}</a>
      	</li>
    </ul>
</div> 
</form>

<button md-button md-no-ink class="md-primary">Primary (md-noink)</button>