.custom-pagination {
    display: flex;
    max-width: 300px;
    margin: auto;
}

.custom-pagination a {
	cursor: pointer;
}

.custom-pagination>div {
    flex: 1;
    font-size: 18px;
    text-align: center;
    border-bottom: 3px solid transparent;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.custom-pagination>div.current {
    border-color: #e91e63;
}