.square{
	width: 70px;
	height: 70px;
	background-color: $accent;
	padding: 10px;
	margin: 10px;
	display: inline-block;
	overflow: auto;
	text-align: center;
	text-decoration: none;
	color: $dark-grey;
	@include roundcorners(5px);
	font-size: 70%;
	cursor: pointer;
}

.keyword{
	background-color: #bbb;
	padding: 5px;
	margin: 5px;
	display: inline-block;
	overflow: auto;
	text-align: center;
	text-decoration: none;
	color: #333;
	@include roundcorners(5px);
	font-size: 70%;
	cursor: pointer;
	font-weight: bold;

	span{
		margin-left: 5px;
		background-color: #fff;
		padding: 2px;
		@include roundcorners(2px);
	}

	.glyphicon-ok{
		color: $green;
	}

	.glyphicon-remove{
		color: $red;
	}
}

.strip:hover, .square:hover, .keyword:hover{
	background-color: $contrast;
	text-decoration: none;
	color: $dark-grey;
}

.keyword:hover{
	background-color: #aaa;
	text-decoration: none;
}

.square-disabled{
	opacity: 0.5;
	background-color: $contrast;
}

.keyword-disabled{
	opacity: 0.5;
	background-color: #888;
}

.strip{
	width: 100%;
	background-color: $gray;
	padding: 10px;
	margin: 10px;
	text-decoration: none;
	color: $white;
	@include roundcorners(5px);
	cursor: pointer;
	display: inline-block;
}

.filterContainer{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.catTree{
	font-size: x-small;
	label{
		font-weight: normal;
	}
}


