.store, .keyword{
	padding: 5px;
	background-color: green;
}

.store:hover{
	background-color: yellow;
}

.keyword:hover{
	background-color: blue;
}

.display-block{
	display: block;
}

.small-button{
	font-size: 10px;
	min-width: 70px;
	line-height: 25px;
}