.square{
	width: 70px;
	height: 70px;
	background-color: $accent;
	padding: 10px;
	margin: 10px;
	display: inline-block;
	overflow: auto;
	text-align: center;
	text-decoration: none;
	color: $dark-grey;
	@include roundcorners(5px);
	font-size: 70%;
	cursor: pointer;
}

.keyword{
	background-color: $accent;
	padding: 10px;
	margin: 10px;
	display: inline-block;
	overflow: auto;
	text-align: center;
	text-decoration: none;
	color: $dark-grey;
	@include roundcorners(5px);
	font-size: 70%;
	cursor: pointer;
}

.strip:hover, .square:hover, .keyword:hover{
	background-color: $contrast;
	text-decoration: none;
	color: $dark-grey;
}

.square-disabled, .keyword-disabled{
	opacity: 0.5;
	background-color: $contrast;
}

.strip{
	width: 100%;
	background-color: $gray;
	padding: 10px;
	margin: 10px;
	text-decoration: none;
	color: $white;
	@include roundcorners(5px);
	cursor: pointer;
	display: inline-block;
}

.filterContainer{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


